/* General Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: ‘Whitney’, sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
/* /General Section */


header {
    background-image: url(../img/jumbo.png);
    width: 100%;
    /* height: 500px; */
    background-size: cover;
}

nav {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.float {
    float: left;
    height: 100%;
}

nav .float:first-child,
nav .float:last-child {
    width: 25%;
}

nav .float:nth-child(2) {
    width: 50%;
}

.logo {
    max-width: 100%;
    vertical-align: middle;
}

.nav-menu {
    list-style-type: none;
}

.nav-menu li {
    display: inline-block;
    margin-right: 1em;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navbar a:hover,
.navbar a:active,
.navbar a:focus {
    text-decoration: underline;
}

.nav-menu li:last-child {
    margin-right: 0;
}

a.btn {
    display: inline-block;
    background-color: white;
    border-radius: 2em;
    padding: 1px 14px;
    line-height: 2em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a.btn:hover {
    color: #265ee8;
}

/* jumbo */
.jumbo-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 10em 0;
    color: white;
}

.jumbo-title {
    margin-bottom: 1.1em;
}

.jumbo-desc {
    line-height: 1.7em;
    margin-bottom: 1.1em;
}

a.btn.big{
    padding: 7px 23px;
}

a.btn.dark{
    background-color: #23272a;
    color: white;
}


a.btn.dark:hover,
a.btn.dark:active,
a.btn.dark:focus {
    color: #265ee8;
}

/* main section */


/* row */
section .row div {
    float: left;
    height: 100%;
}
/* column */
.column-60{
    width: 60%;
    /* background-color: chartreuse; */
    text-align: center;
    padding: 10em 0;

}


.column-60 img {
    max-width: 100%;
    margin-left: 25%;
    /* padding: 10em 0; */

}

.column-40{
    width: 40%;
    /* background-color: darkturquoise; */
    text-align: center;
}

.tex-column {
    margin-top: 2em;
    text-align: start;
    padding: 10em 0;
    padding-right: 50%;
}

.column-40 h2,
.column-40-center h2 {
    font-size: 3em;
}

.column-40 p,
.column-40-center p {
    margin-top: 2em;
   line-height: 1.6em;
}

.column-40-center{
    width: 40%;
    text-align: left;
}
.column-40-center div {
    padding: 13em 0;
    padding-left: 50%;
}

.column-60-center{
    width: 60%;
    text-align: center;
    padding: 10em 0;
    /* background-color: chartreuse; */
}

.column-60-center img{
    margin-right: 25%;
}

/* teconology section */

.tecnology {
    margin-top: 12em;
}

.tecnology-text {
    width: 100%;
    text-align: center;
}

.tecnology-text h2 {
    font-size: 3em;
}

.tecnology-text p{
    padding: 0 30%;
    line-height: 1.7em;
}

.tecno-img {
    text-align: center;
}

.tecno-img img {
    width: 65%;
}

.adventure {
    font-size: 1.5em;
    line-height: 3em;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.adventure-title{
    padding: 10px;
}

.adventure a{
    color: white;
    background-color: #8EA1E1;
    font-weight: lighter;
}

/* footer */

footer {
    margin-top: 10em;
    background-color: #23272A;
    width: 100%;
    height: 600px;
    color: white;
    /* color: #c0c0c0; */
}

.footer-content {
    height: 100%;
    width: 70%;
    margin: 0 auto;
}



.footer-row {
    padding-bottom: 2em;
    border-bottom: 1px solid  rgb(80, 150, 255);
}

.footer-row::after{
    content: '';
    display: table;
    clear: both;
}

.footer-row > div {
    float: left;
    width: calc(100% / 5);
}

.footer-prime {
    /* width: calc(100% / 5); */
    /* height: 500px;
    background-color: rgb(80, 150, 255); */
}

.f-col {
    /* width: calc(50% / 4); */
    /* height: 500px; */
    /* background-color: chartreuse; */
    text-align: center;
}

.f-col ul {
    margin-top: 4em;
}

.f-col ul li{
    list-style: none;
    margin-top: 1em;
}

.f-col ul li a {
    color: white;
    text-decoration: none;
}

.footer-prime h3 {
    margin-top: 1.5em;
    font-size: 2.5em;
}

.ita {
    margin-top: 2em;
}

.ita img {
    width: 1.8em;
    vertical-align: middle;
}

.ita span{
    vertical-align: middle;
}

.list-social {
    margin-top: 2em;
}

.list-social ul li {
    list-style: none;
    display: inline-block;
    font-size: 1.5em;
    margin-left: 1.5em;
}



.list-social ul li:first-child {
    margin-left: 0.5em;
}

.f-col .list-title > li{
    color: #7289DA;
}

/* footer-reg */

.footer-reg {
    
    position: relative;
}

.footer-reg img{
    position: absolute;
    top: 2em;
}

.footer-reg a {
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 2em;
    background-color: #8EA1E1;
    color: white;
    font-weight: lighter;
}